body {
  font-family: 'Quicksand', sans-serif;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.images-wrap {
  flex-wrap: wrap;
  display: flex;
}

.react-slideshow-container {
  position: relative;
}

.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}


.react-slideshow-container .default-nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.react-slideshow-container .default-nav {
  position: absolute;
  top: 50%;
  z-index: 9999;
}

.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
  right: 0;
}

.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-right: none;
  border-top: none;
  left: 0;
}

.ContactPageImage {
  padding-top: 8%
}

#ScrollBar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}