body {
  font-family: 'Quicksand', sans-serif;  
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.MainContent {
  flex: 1;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.images-wrap {
  flex-wrap: wrap;
  display: flex;
}

.react-slideshow-container {
  position: relative;
}

.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}


.react-slideshow-container .default-nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.react-slideshow-container .default-nav {
  position: absolute;
  top: 50%;
  z-index: 9999;
}

.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
  right: 0;
}

.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-right: none;
  border-top: none;
  left: 0;
}
/* 
.ContactPageImage {
  padding-top: 2%
} */

/* code for scroll bar- Add className="ListContainer" to the main div of the box you are creating - reference see list Line 23-43*/
.ListContainer {
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 65vh;
}

.ItemDirection {
  direction:ltr;
}

.ImgLogo {
  min-height: 70px !important;
  padding: 5px 0px 5px 0px;
}

.footer{
  padding: 25px 40px 25px 40px;
}